<form class="" >
	<div class="form-group">
	<input class="form-control"  placeholder="No RM" type="text" ng-model="pasien.no_rm">
	</div>
	<div class="form-group">
	<input class="form-control"  placeholder="Nama" type="text" ng-model="pasien.nama">
	</div>
	<div class="form-group">
	<input class="form-control"  placeholder="Gender" type="text" ng-model="pasien.kode_jenis_kelamin">
	</div>
	<div class="form-group">
	<input class="form-control"  placeholder="Tempat Lahir" type="text" ng-model="pasien.tempat_lahir">
	</div>
	<div class="form-group">
	<input class="form-control"  placeholder="Tanggal lahir" type="text" ng-model="pasien.tgl_lahir">
	</div>
	<div class="form-group">
	<input class="form-control"  placeholder="Alamat" type="text" ng-model="pasien.alamat">
	</div>
	<div class="form-group">
	<input class="form-control"  placeholder="No Tlp" type="text" ng-model="pasien.no_telp">
	</div>

	<pre>{{ pasien | json }}</pre>

	<button class="btn btn-primary" ng-click="simpanPasien()">Simpan</button>
</form>