<form class="form">
<div class="form-group">
<input type="text" class="form-control" placeholder="No Tlp" ng-model="sdm.code" readonly="true"></div>
<div class="form-group">
<input type="text" class="form-control" placeholder="Nama" ng-model="sdm.fullname"></div>
<div class="form-group">
<input type="text" class="form-control" placeholder="Tanggal Lahir" ng-model="sdm.gender"></div>
</div>
<div class="form-group">
<input type="text" class="form-control" placeholder="Tanggal Lahir" ng-model="sdm.tanggal_lahir"></div>
<div class="form-group">
<input type="text" class="form-control" placeholder="Divisi" ng-model="sdm.divisi"></div>
<div class="form-group">
<input type="text" class="form-control" placeholder="No Izin" ng-model="sdm.sip"></div>
<div class="form-group">
<input type="text" class="form-control" placeholder="Alamat" ng-model="sdm.alamat"></div>
<div class="form-group">
<input type="text" class="form-control" placeholder="No Tlp" ng-model="sdm.tlp"></div>
<div class="form-group">
<input type="text" class="form-control" placeholder="No Tlp" ng-model="sdm.jadwal_praktik"></div>
<div class="form-group">
		<pre>{{ sdm | json }}</pre>
<button class="btn btn-primary" ng-click="simpanSDM()"> Simpan</button>
</form>
