<div class="form">
	<div class="form-group">
		<label class="control-label">Nama</label>
		<input class="form-control" ng-model="sdm.nama"/>
	</div>

	<div class="form-group">
		<label class="control-label">Jenis Kelamin</label>
		<select class="form-control" ng-model="sdm.kode_jenis_kelamin">
			<option value="01">Laki-laki</option>
			<option value="02">Perempuan</option>
		</select>
	</div>

	<div class="form-group">
		<label class="control-label">Tanggal Lahir</label>
		<input class="form-control" ng-model="sdm.tgl_lahir"/>
	</div>

	<div class="form-group">
		<label class="control-label">Alamat</label>
		<input class="form-control" ng-model="sdm.alamat"/>
	</div>

	<button class="btn btn-primary" ng-click="simpanSDM()">Simpan</button>
	<a class="btn btn-primary" href="#/sdm">Batal</a>
</div>
