<form class="form">
<div class="form-group">
<input type="text" class="form-control" placeholder="Nama" ng-model="sdm.nama"></div>
<div class="form-group">
<select class="form-control" ng-model="gender">
	<option value="01">Laki-Laki</option>
	<option value="02">Perempuan</option>
</select>
</div>
<div class="form-group">
<input type="text" class="form-control" placeholder="Tempat Lahir" ng-model="sdm.tempat_lahir"></div>
<div class="form-group">
<input type="text" class="form-control" placeholder="Tanggal Lahir" ng-model="sdm.tgl_lahir"></div>
<div class="form-group">
<input type="text" class="form-control" placeholder="Divisi" ng-model="sdm.divisi"></div>
<div class="form-group">
<input type="text" class="form-control" placeholder="No Izin" ng-model="sdm.no_izin"></div>
<div class="form-group">
<input type="text" class="form-control" placeholder="Alamat" ng-model="sdm.alamat"></div>
<div class="form-group">
<input type="text" class="form-control" placeholder="No Tlp" ng-model="sdm.no_telp"></div>
<div class="form-group">
<button class="btn btn-primary" ng-click="simpanSDM()"> Simpan</button>
</form>