<div class="panel">
	<div class="panel-body">

		<a class="btn btn-primary" ui-sref="tambahPasien">Tambah Pasien</a>

		<table class="table">
			<thead>
				<tr>
					<th>No RM</th>
					<th>Nama</th>
					<th>Jenis Kelamin</th>
					<th>Tanggal Lahir</th>
					<th>Alamat</th>
					<th>Opsi</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="item in pasien">
					<td>{{ item.no_rm }}</td>
					<td>{{ item.nama }}</td>
					<td>{{ item.kode_jenis_kelamin }}</td>
					<td>{{ item.tgl_lahir }}</td>
					<td>{{ item.alamat }}</td>
					<td>
						<div class="class="btn-group"">
						<button type="button" class="btn btn-default"><i class="glyphicon glyphicon-search"></i></button>
						<button type="button" class="btn btn-default"><i class="glyphicon glyphicon-pencil"></i></button>
						<button type="button" class="btn btn-default"><i class="glyphicon glyphicon-trash"></i></button>
						</div>
					</td>
				</tr>
			</tbody>
		</table>

		<h3 class="text-center" ng-if="isLoading">Loading...</h3>


	</div>
</div>
