<div class="panel">
	<div class="panel-body">

		<a class="btn btn-primary" ui-sref="tambahSdm">Tambah SDM</a>

		<div class="alert alert-danger" ng-if="currentItem.id" style="margin-top: 10px;">
			Yakin ingin menghapus? <a ng-click="confirmDelete()">OK</a> | <a ng-click="cancelDelete()">Cancel</a>
		</div>

		<table class="table">
			<thead>
				<tr>
					<th>Nama</th>
					<th>Jenis Kelamin</th>
					<th>Tanggal Lahir</th>
					<th>Alamat</th>
					<th>Spesialis</th>
					<th>Opsi</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="item in sdm">
					<td>{{ item.nama }}</td>
					<td>{{ item.kode_jenis_kelamin }}</td>
					<td>{{ item.tgl_lahir }}</td>
					<td>{{ item.alamat }}</td>
					<td>{{ item.divisi }}</td>
					<td class="pull-right">
						<button class="btn btn-sm btn-primary" ui-sref="editSdm({ id: item.id })"><i class="glyphicon glyphicon-search"></i></button>
						<button class="btn btn-sm btn-success" ui-sref="editSdm({ id: item.id })"><i class="glyphicon glyphicon-pencil"></i></button>
						<button class="btn btn-sm btn-danger" ng-click="deleteSDM(item)"><i class="glyphicon glyphicon-trash"></i></button>
					</td>
				</tr>
			</tbody>
		</table>

		<h3 class="text-center" ng-if="isLoading">Loading...</h3>


	</div>
</div>
