<div class="panel">
	<div class="panel-body">
		<div class="row">
			<div class="col-md-6">
					<a class="btn btn-primary" ui-sref="tambahSdm">Tambah SDM</a>
			</div>
			<div class="col-md-6">
				<form class="form form-inline pull-right">
					<div class="form-group">
						<input type="text" class="form-control" placeholder="Seacrh by name">
					</div>
					<button class="btn btn-ptimary"><i class="glyphicon glyphicon-search"></i> </button>
				</form>
			</div>
		</div>


		<div class="alert alert-danger" ng-if="currentItem.id" style="margin-top: 10px;">
			Yakin ingin menghapus? <a class="btn btn-danger" ng-click="confirmDelete()">OK</a> | <a ng-click="cancelDelete()">Cancel</a>
		</div>

		<table class="table">
			<thead>
				<tr>
					<th>Nama</th>
					<th></th>
					<th>Jenis Kelamin</th>
					<th>Tanggal Lahir</th>
					<th>Alamat</th>
					<th>Spesialis</th>
					<th>Opsi</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="item in sdm.data">
					<td>{{ item.fullname }}</td>
					<td>{{ item.gelar }}</td>
					<td>{{ item.gender }}</td>
					<td>{{ item.tanggal_lahir }}</td>
					<td>{{ item.alamat }}</td>
					<td>{{ item.divisi }}</td>
					<td class="pull-right">
						<button class="btn btn-sm btn-primary" ui-sref="detail({ id: item.id })"><i class="glyphicon glyphicon-search"></i></button>
						<button class="btn btn-sm btn-success" ui-sref="editSdm({ id: item.id })"><i class="glyphicon glyphicon-pencil"></i></button>
						<button class="btn btn-sm btn-danger" ng-click="deleteSDM(item)"><i class="glyphicon glyphicon-trash"></i></button>
					</td>
				</tr>
			</tbody>
		</table>
		<ul class="pagination pagination-sm no-margin pull-left">
			<li>
				<a class="btn btn-default" ng-click="firstPage()">First</a>
			</li>
			<li>
				<a class="btn btn-default" ng-click="prevPage()" ng-if="sdm.current_page >1"> Prev.. </a>
			</li>
			<li>
				<a>
					Page {{ sdm.current_page }} of {{ sdm.last_page }}
				</a>
			</li>
			<li>
				<a class="btn btn-default" ng-click="nextPage()" ng-if="sdm.current_page < sdm.last_page"> Next </a>
			</li>
			<li>
				<a class="btn btn-default" ng-click="lastPage()">Last</a>
			</li>
		</ul>
		<h3 class="text-center" ng-if="isLoading">Loading...</h3>


	</div>
</div>
