<div class="panel">
	<div class="panel-body">

		<div class="row">
			<div class="col-md-6">
				<a class="btn btn-primary" ui-sref="tambahUser">Tambah User</a>
			</div>

		<!--	<div class="col-md-6">
				<form class="form form-inline pull-right">
					<div class="form-group">
						<input type="text" class="form-control" ng-model="search" placeholder="Search..."/>
					</div>
					<button class="btn btn-default" ng-click="doSearch()"><i class="glyphicon glyphicon-search"></i> </button>
				</form>
			</div>
		</div>-->

		<table class="table">
			<thead>
				<tr>
					<th>Username</th>
					<th>Nama</th>
					<th>Posisi</th>
					<th>Opsi</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td class="pull-right">
						<div class="class="btn-group"">
						<a  class="btn btn-default"><i class="glyphicon glyphicon-search"></i></a>
						<button type="button" class="btn btn-default"><i class="glyphicon glyphicon-pencil"></i></button>
						<button type="button" class="btn btn-default"><i class="glyphicon glyphicon-trash"></i></button>
						</div>
					</td>
				</tr>
			</tbody>
		</table>


	</div>
</div>
